/*字体*/
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/*使用自定义select*/
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("http://") no-repeat right center;
}

/*去除input右边的x*/
::-ms-clear {
    display: none;
}

/*去除密码框的小眼睛*/
::-ms-reveal {
    display: none;
}

/*谷歌浏览器点击后会使得内边框有颜色，清除内边框*/
input,
textarea,
select,
button {
    outline: none;
}

/*边框阴影效果*/
.modal {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}

/*ul去除黑点*/
ul {
    list-style-type: none;
}

/*选中的文字变色*/
::selection {
    background: #F03861;
    color: #FFFFFF;
}

::-moz-selection {
    background: #F03861;
    color: #FFFFFF;
}

/*禁止选择文字*/
body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*火狐点击按钮不出现内边线*/
select,
button {
    outline: none;
    -moz-outline: none;
}

/*背景图片居中显示*/
.bg {
    background-image: url("http://");
    background-repeat: no-repeat;
    background-position: center 0;
}

/*巧用after<p data-unit="元">剩余话费40</p>*/
[data-unit]:after {
    content: attr(data-unit);
    color: #3b98e0;
}

/*currentColor的值是当前元素的color属性的值*/
.box {
    color: #3b98e0;
    border: 1px solid currentColor;
}
